.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   margin-top: 3rem;
    z-index: -1;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.login-container .form{
    margin: 0 1.5rem;
}

.text-credential{
    margin-top: 1rem;
    text-decoration: underline;
    cursor: pointer;
}
.error{
    padding: 0;
}

@media screen and (min-width: 967px) {
    .login-container{
        margin-top: .5rem;
    }
}