.single-video-wrapper {
  flex: 1;
  max-width: 100rem;
  margin: 0 auto;
  color: var(--white-text);
}

.video-frame {
  padding: 1rem;
  background: var(--dark-background-color);
  width: 100%;
  height: 300px;
  border-radius: 1rem;
}

.video-info {
  max-width: 90rem;
  padding: 1rem 0;
}

.video-info .icons {
  color: var(--white-text);
}

.video-info ul {
  margin: 1rem 0;
}

.video-info li {
  display: inline-block;
  background: var(--dark-background-color);
  color: var(--white-text);
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  border-radius: 10rem;
  transition: 0.3s all;
}

.video-info li:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.video-info .creator-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--secondary-text);
  margin: 1rem 0;
}

.video-info .verified-icon {
  margin-left: 0.5rem;
}

.video-full-description {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.view-icon {
  margin-right: 0.5rem;
}

@media screen and (min-width: 767px) {
  .video-frame {
    height: 415px;
  }

  .video-info li {
    font-size: 1.2rem;
  }

  .video-full-description {
    font-size: 1.8;
  }
}

.playlist-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #040c1d9b;
}

.create-playlist-wrapper {
  border-radius: 0.5rem;
  max-width: 40rem;
  margin: 0 1rem;
  background-color: var(--white-text);

}

.create-playlist-wrapper button {
  text-align: left;
  width: 100%;
  cursor: pointer;
  border: none;
}

.create-playlist-wrapper .icons {
  margin-right: 0.5rem;
  color: var(--primary-color);
}

.btn-playlist-create {
  padding: 0.7rem 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.btn-playlist-create .icon-circle-plus {
  color: var(--white-text);
}

.lists-playlist {
  padding: 0.3rem;
  height: 10rem;
  overflow-y: scroll;
  margin-top: 1rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
}

.lists-playlist .playlist-one {
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.2rem;
  background-color: transparent;
  border-bottom: 1px solid var(--border-color);
}

.playlist-one .icons {
  color: var(--primary-color);
}

.input-playlist-wrapper {
  margin: 0 .3rem;
}

.input-playlist-wrapper .input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;

}

.input-playlist-wrapper .input::placeholder {
  font-size: 1.3rem;
}

/*+++++++++Button For modal close ++++++++*/
.btn-modal-close {
  
 text-align: right;
  font-size: 1.3rem;
  display: flex;
 padding: 1rem;
    
}