/* Video container */
.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 100rem;
  margin: 0 auto;
  min-height: 50vh;

}

.video-card {
  padding: 0;
  max-width: 25rem;
  min-height: 28rem;
  background-color: var(--video-bg);
  border-radius: 0;
  position: relative;

}

.video-thumbnail {
  border-radius: 0;
  max-height: 14rem;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.video-card .card-content {
  padding: .8rem;
  background-color: var(--video-bg);
  color: var(--white-text);

}

.video-title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--white-text);
}

.video-card .card-icon {
  font-size: 1.5rem;
}

.video-description,
.creator-title {
  color: var(--secondary-text)
}

.creator-title {
  margin-top: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.creator-title .icons {
  margin-left: .5rem;
}

.card-content .creator-avatar {
  width: 3.2rem;
  height: 3.2rem;
  padding: .2rem;
  border: 1px solid var(--primary-color);
}

.btn-popup {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tools {
  position: absolute;
  right: 1rem;
  bottom: 12.5rem;
  display: none;
}

.tools .tools-icon {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.tools p {
  margin: 0 .3rem;
  padding: 1rem;
  border-radius: 10rem;
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  width: fit-content;
  background-color:  var(--tools-bg);
  transition: .3s;
}

.tools p:hover{
  background-color: var(--primary-hover);
}