/* Video container */
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 100rem;
    margin: 0 auto;
    min-height: 50vh;

  }

  
  
  .video-card {
    padding: 0;
    max-width: 25rem;
    min-height: 28rem;
    background-color: #070d1b;
    border-radius: 0;
    /* border: 1px solid #85878a59; */
  }
  
  .video-thumbnail {
    border-radius: 0;
    max-height: 14rem;
    border: 1px solid #85878a59;
  }
  
  .video-card .card-content {
    padding: .8rem;
    background-color: #070d1b;
    color: var(--white-text);
  
  }
  
  .video-title {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--white-text);
  }
  
  .video-card .card-icon {
    font-size: 1.5rem;
  }
  
  .video-description,
  .creator-title {
    color: var(--secondary-text)
  }
  
  .creator-title {
    margin-top: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .creator-title .icons {
    margin-left: .5rem;
  }
  
  .card-content .creator-avatar {
    width: 3.2rem;
    height: 3.2rem;
    padding: .2rem;
    border: 1px solid var(--primary-color);
  }