.playlist-card {
    width: 100%;
    cursor: pointer;
    min-height: 20rem;
}

.playlist-card .playlist-image {
    border-radius: 0; 
   height: 20rem;
   width: 100%;
}

.playlist-info {
    position: relative;
}

.playlist-title {
    position: absolute;
    bottom: 0rem;
    text-align: center;
    padding: 1rem;
    left: 0;
    right: 0;
    color: var(--white-text);
    background-color: var(--dark-background-color);
}
@media screen and (min-width: 967px) {
    .playlist-card {
        max-width: 35rem;
        cursor: pointer;
        min-height: 20rem;
    }
}