.explore-container {
  display: flex;
  
}
.video-list-container {
  flex: 1;
  max-width: 100rem;
  margin: 0 auto;
}

.categories-wrapper {
  margin: 0rem 0 1rem 0;
  background-color: var(--dark-background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 .5rem;
}

 
.categories-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: .5rem 0;
}

.category-list {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  text-align: center;
  color: var(--white-text);
  background-color: var(--background-color);
  border-radius: 10rem;
  transition: 0.3s ease-in;
  font-size: 1rem;
  margin: 0.3rem 0.3rem 0.3rem 0;
}

.category-list.active{
   background-color: var(--primary-color);
 }
.category-list:hover {
  transform: scale(1.055);
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .category-list {
    font-size: 1.2rem;
    min-width: 6rem;
    margin-right: 0.6rem;
  }
}


